<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.BDAtroxCS" connectionString="Data Source=ATROX-PC\SQLSERVER;Initial Catalog=BDSistema;Persist Security Info=True;User ID=sa;Password=Wolirrceple"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>